#parent{ 
    display: flex; 
  } 
  .col{ 
    color: white; 
    height: 680px; 
    margin-left: 15%;
    flex: 60%;
    position: absolute;
  } 
  .col:nth-child(2){ 
    background-color:#789997; 
    padding: 10px;
    margin-right: 0%;
    margin-left: 10%;
    flex: 15%;
    width: 10%;
    position: absolute;
  } 

  .info {
    flex: 100%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-top: 40%;
    background: #3f5250;
  }

  .gm-style-mtc {
    display: none;
  }